
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MuscleStore - Suplementos Premium</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        // Establecemos la conexión desde el navegador hacia el servidor
        const socket = io();
    </script>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #0f1115;
            color: #e5e7eb;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        nav {
            background-color: #1a1d24;
            padding: 1rem 2rem;
            border-bottom: 1px solid #2d313a;
            display: flex;
            justify-content: space-between;
        }
        h1 { margin: 0; color: #f59e0b}
        .container {
            max-width: 1200px;
            margin: 2rem auto;
            padding: 0 1rem;
        }
    </style>
</head>
<body>
    <nav>
        <h1>MuscleStore</h1>
        <div>
            <a href="/products" style="color: white; text-decoration: none; margin-right: 15px;">Tienda</a>
            <a href="/carts/1" style="color: white; text-decoration: none;">🛒 Carrito</a>
        </div>
    </nav>

    <div class="container">
        {{{body}}} 
    </div>
    
</body>
</html>